
    {% extends './base.html' %}
    {% comment %} {% load static %} {% endcomment %}
    {% block individual_person %}
    <div style = "display: flex; position: relative; justify-content: center; flex-direction: column; align-items: center; width: 100%;">
        <p style="font-size: 2rem;" >Actively Missing Person</p>
        <form>
            <label>First Name</label>
            <input type="text" value="{{data.first_name}}">
            <br>
            <label>Last Name</label>
            <input type="text" value="{{data.last_name}}">            
        </form>    
    </div>
    {% endblock %}


