<!--Edited by Levi Duke 3/29/2023-->
{% extends './base.html' %}
{% block index %}
  <h2 style="text-align: center; padding: 1.5rem;">Info and How to Help</h2>


  <p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
    Sex trafficking is a growing problem around the world. It involves the recruitment, transportation and exploitation of people for sexual purposes. Victims of sex trafficking can be men, women, and children who are forced to participate in the commercial sex industry against their will. Human trafficking is complex. and requires a multi-pronged approach to prevention. In this article, we explore various strategies that can help individuals and communities stay safe and protect themselves and others from sex trafficking.
</p>

<p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
  Inform yourself and others:
  One of the most effective ways to prevent sex trafficking is to educate yourself and others about the problem. Know the signs and indicators of sex trafficking, such as lack of control over identity documents, restricted or supervised communications with the family and friends, changes in behavior or appearance. You can also raise awareness about sex trafficking by sharing information on social media, organizing community events, and giving presentations at schools and workplaces.

</p>

<p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
  Support anti-trafficking organizations:
There are many organizations that work to prevent sex trafficking and provide support to survivors. Consider supporting these organizations by volunteering, donating, or advertising their services. Some examples of anti-trafficking organizations include Operation Underground Railroad (O.U.R.), as well as Forgotten Children Inc. and Aspen Magdelane House.

</p>

<p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
  Take care when traveling:
Sex trafficking is a problem that can affect anyone, anywhere. If you travel, be careful and aware of your surroundings. Avoid walking alone at night or in unfamiliar places. Research your destination and stay at a reputable hotel or inn. Beware of offers that are too good to be true, such as free travel or job offers.

</p>

<p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
  Report suspicious activity:
    If you suspect someone is a victim of sex trafficking or see suspicious activity, report it to the police or call the National Human Trafficking Hotline at 1-888-373-7888. Remember, if you choose to report suspicious activity, you can remain anonymous. Reporting can help authorities intervene and potentially save someone from exploitation.

</p>

<p style="margin-left: 6rem; margin-right: 6rem; margin-top: 3rem; color: #203354; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem;">
  Support survivors:
Survivors of sex trafficking may need a variety of support services, including medical care, counseling, and legal assistance. You can support survivors by volunteering at shelters or local organizations that provide these services. If you can't volunteer, you can still support survivors by advocating for policies and programs that help survivors rebuild their lives.

</p>

<a style = "position: center; font-family: Arial, Helvetica, sans-serif; font-size: 1.3rem; color: blue; margin: 300px; " href="{% url 'mptable' %}">See Missing Persons</a>

{%endblock%}