<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
    integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
  <title>Document</title>
</head>

<body>
{% extends 'base.html' %}
{% load static %}
{% block content %}       
        <h4>Student Information:</h4>
        <table>
            <tr>
                <th >Last Name</th>
                <th >First Name</th>
                <th >GPA</th>
                <th >Age</th>  
                <th ></th>              
            </tr>            
            {% for oStudent in data %}
            <tr>            
                <td >{{ oStudent.last_name }}</td>
                <td >{{ oStudent.first_name }}</td>
                <td >{{ oStudent.gpa }}</td>
                <td >{{ oStudent.age }}</td>       
                <td ><a href="{% url 'displayStudent' id=oStudent.id 
%}">Details</a></td>                                         
            </tr>
            {% endfor %} 
            </table>
        {% endblock %}

</body>

</html>

