<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
    integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
  <title>Document</title>
</head>

<body>
{% extends 'base.html' %}
{% load static %}
{% block content %}       
        <h4>Student Information:</h4>
        <table>
            <tr>
                   <th title="Field #1">Date Missing</th>
                   <th title="Field #2">Last Name</th>
                   <th title="Field #3">First Name</th>
                   <th title="Field #4">Age when Missing</th>
                   <th title="Field #5">City</th>
                   <th title="Field #6">State</th>
                   <th title="Field #7">Gender</th>
                   <th title="Field #8">Race</th>      
            </tr>            
            {% for oPerson in data %}
            <tr>            
                <td>{{ oPerson.date_missing }}</td>
                <td>{{ oPerson.last_name }}</td>
                <td>{{ oPerson.first_name }}</td>
                <td align="right">{{ oPerson.age_when_missing }}</td>
                <td>{{ oPerson.city }}</td>
                <td>{{ oPerson.state }}</td>
                <td>{{ oPerson.gender }}</td>
                <td>{{ oPerson.race }}</td>
                <td ><a href="{% url 'displayPerson' id=oPerson.id 
%}">Details</a></td>   
                                         
            </tr>
            {% endfor %} 
            </table>
        {% endblock %}

</body>

</html>

