{% extends './base.html' %}

    {% block persons_table %}
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th title="Field #1">Date Missing</th>
          <th title="Field #2">Last Name</th>
          <th title="Field #3">First Name</th>
          <th title="Field #4">Age when Missing</th>
          <th title="Field #5">City</th>
          <th title="Field #6">State</th>
          <th title="Field #7">Gender</th>
          <th title="Field #8">Race</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for Person in data %}
        <tr>
          <td>{{ Person.date_missing }}</td>
          <td>{{ Person.last_name }}</td>
          <td>{{ Person.first_name }}</td>
          <td align="right">{{ Person.age_when_missing }}</td>
          <td>{{ Person.place.first.city }}</td>
          <td>{{ Person.place.first.state }}</td>
          <td>{{ Person.gender }}</td>
          <td>{{ Person.race }}</td>
          <td><a style = "text-align: center; background-color: darkblue; padding: .5rem; border-radius: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: .9rem; color: white; margin: .5rem;"href = "{% url 'displayPerson' id=Person.id %}"> Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    
    {% endblock %}
</body>
</html>